# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

JWT_SECRET="0nly4rt5!!"
JWT_EXPIRES_IN="3600"
DATABASE_URL="postgresql://postgres:123456@localhost:5432/onlyarts"
RPC_URL=https://rpc.sepolia-api.lisk.com
PRIVATE_KEY=0xYOUR_BACKEND_WALLET_PRIVATE_KEY
ARTNFT_CONTRACT_ADDRESS=0xYOUR_SMART_CONTRACT_ADDRESS
COLLECTION_ACCESS_CONTRACT_ADDRESS=0xYOUR_SMART_CONTRACT_ADDRESS